

ul {
  list-style-type: none;
  display:box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: right;
}

li a {
  display: block;
  color:  #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: oblique;
}
li a:hover {
  background-color:  rgb(90, 197, 90);
}

.paragraph1{

  text-align: center;
  padding-top: 200px;
  font-size: 20px;
  


}
ul h1{
  float: left;
  
}
.logo{
  text-indent: -999999px;
  background: url(logos1.png);
 height: 66px;
 width: 80px;
 border: none;
 background-repeat: no-repeat;
margin: 10px;
}
.logo:hover{
  background-color: rgb(143, 177, 147);
}
.title{
  padding:30px;
   text-emphasis-color: rgb(115, 224, 115);
  color: rgb(90, 197, 90);
  font-family:cursive;
 

}
.paragraph2{
  text-align: center;
  font-style: inherit;
  display: block;
  font-size: 15px;
  padding-top: 50px;
  font-family: cursive;
}
.paragraph3{
  text-align: center;
  font-style: inherit;
  font-family: cursive;
  font-size: 20px;
  padding-top: 80px; 
}
.contact{
  padding-top: 400px;
}

.button {
  background-color: #94dfc3;
  border: none;
  color: #666;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
}
button:hover {
  background-color:white;
}

 

